# Copyright (c) 2024 hpmicro
# SPDX-License-Identifier: Apache-2.0

if BOARD_HPM5300EVK

DT_CHOSEN_Z_CODE_PARTITION := zephyr,code-partition

config BOARD
	default "hpm5300evk" if BOARD_HPM5300EVK

config FLASH_LOAD_OFFSET
	default $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_CODE_PARTITION))

config FLASH_LOAD_SIZE
	default $(dt_chosen_reg_size_hex,$(DT_CHOSEN_Z_CODE_PARTITION))

endif
