# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_HPM
    bool

config SOC_FAMILY
    default "hpmicro" if SOC_FAMILY_HPM

source "${ZEPHYR_SDK_GLUE_MODULE_DIR}/soc/hpmicro/*/Kconfig.soc"