# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

if BOARD_HPM6800EVK

config HEAP_MEM_POOL_SIZE
	default 16384

config BUILD_OUTPUT_HEX
	default y

config UART_INTERRUPT_DRIVEN
	default y

endif
