build
*_build
cmake-build*
.vscode

*.pyc
sec_core_img.c
*.o

docs/build/*
docs/source/en/samples/*
docs/source/en/snippets/*
docs/source/en/CHANGELOG.md
docs/source/zh/samples/*
docs/source/zh/snippets/*
docs/source/zh/CHANGELOG.md


