# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

orsource "./$(BOARD_DIR)/Kconfig.board"
orsource "./$(BOARD_DIR)/Kconfig"

rsource "boards/shields/*/Kconfig.shield"

menu "Hpmicro Zephyr Glue"

rsource "drivers/Kconfig"
rsource "modules/Kconfig"

endmenu
