# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0
config ZEPHYR_HPM_SDK_MODULE
	bool

config NDEBUG_CONSOLE
	bool "HPMSDK NO CONSOLE"

if ZEPHYR_HPM_SDK_MODULE

config HAS_HPMSDK_UART
	bool
config HAS_HPMSDK_SDP
	bool
config HAS_HPMSDK_LCDC
	bool
config HAS_HPMSDK_I2C
	bool
config HAS_HPMSDK_PMP
	bool
config HAS_HPMSDK_RNG
	bool
config HAS_HPMSDK_GPIO
	bool
config HAS_HPMSDK_SPI
	bool
config HAS_HPMSDK_PDMA
	bool
config HAS_HPMSDK_WDG
	bool
config HAS_HPMSDK_DMA
	bool
config HAS_HPMSDK_DMAV2
	bool
config HAS_HPMSDK_GPTMR
	bool
config HAS_HPMSDK_PWM
	bool
config HAS_HPMSDK_PLLCTL
	bool
config HAS_HPMSDK_PLLCTLV2
	bool
config HAS_HPMSDK_USB
	bool
config HAS_HPMSDK_RTC
	bool
config HAS_HPMSDK_ACMP
	bool
config HAS_HPMSDK_I2S
	bool
config HAS_HPMSDK_DAO
	bool
config HAS_HPMSDK_PDM
	bool
config HAS_HPMSDK_VAD
	bool
config HAS_HPMSDK_CAM
	bool
config HAS_HPMSDK_CAN
	bool
config HAS_HPMSDK_JPEG
	bool
config HAS_HPMSDK_ENET
	bool
config HAS_HPMSDK_SDXC
	bool
config HAS_HPMSDK_ADC12
	bool
config HAS_HPMSDK_ADC16
	bool
config HAS_HPMSDK_PMU
	bool
config HAS_HPMSDK_PTPC
	bool
config HAS_HPMSDK_MCHTMR
	bool
config HAS_HPMSDK_FFA
	bool
config HAS_HPMSDK_TSNS
	bool
config HAS_HPMSDK_DAC
	bool
config HAS_HPMSDK_PCFG
	bool
config HAS_HPMSDK_FEMC
	bool
config HAS_HPMSDK_MIPI_DSI_PHY
	bool
config HAS_HPMSDK_MIPI_DSI
	bool
config HAS_HPMSDK_PIXELMUX
	bool
config HAS_HPMSDK_LVB
	bool
config HAS_HPMSDK_MIPI_CSI
	bool
config HAS_HPMSDK_LCB
	bool
config HAS_HPMSDK_MIPI_CSI_PHY
	bool
endif 
