# HPMICRO CASTCAN configuration options

# Copyright (c) 2022-2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_HPM_CAN := hpmicro,hpm-can

config CAN_HPMICRO
	bool "HPMICRO CAN driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_CAN_ENABLED
    select HAS_HPMSDK_CAN
    help
        Enable the HPMICRO CAN driver

DT_COMPAT_HPM_MCAN := hpmicro,hpm-mcan

config MCAN_HPMICRO
	bool "HPMICRO MCAN driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_MCAN_ENABLED
    select HAS_HPMSDK_MCAN
    help
        Enable the HPMICRO MCAN driver

config CAN_MAX_FILTER
	int "Maximum number of concurrent active filters"
	default 4
	range 1 16
	help
	  Maximum number of filters supported by the can_add_rx_callback() API call.
