# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0
DT_COMPAT_HPM_ADC12 := hpmicro,hpm-adc12
DT_COMPAT_HPM_ADC16 := hpmicro,hpm-adc16

config ADC_HPMICRO_ADC12
	bool "HPMICRO ADC12 driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_ADC12_ENABLED
	select HAS_HPMSDK_ADC12
	help
	  Enable the HPMICRO ADC12 driver.

config ADC_HPMICRO_ADC16
	bool "HPMICRO ADC16 driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_ADC16_ENABLED
	select HAS_HPMSDK_ADC16
	help
	  Enable the HPMICRO ADC16 driver.