# Copyright (c) 2023-2024 HPMicro
# SPDX-License-Identifier: Apache-2.0
config SOC_SERIES_HPM67XX
	bool "HPMicro HPM64/67 Series"
	select SOC_FAMILY_HPM
	select HAS_HPMSDK_PLLCTL
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG
	help
	  Enable support for HPMicro HPM68 series SoC

config SOC_SERIES
	default "hpm67xx" if SOC_SERIES_HPM67XX

config SOC_HPM6750
	bool
	select SOC_SERIES_HPM67XX

config SOC
	default "hpm6750" if SOC_HPM6750