# Copyright (c) 2023-2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_HPM67XX
	bool "HPMicro HPM64/67 Series"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGED
	select SOC_FAMILY_HPM
	select ZEPHYR_HPM_SDK_MODULE
	help
	  Enable support for HPMicro HPM64/67 series SoC