# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

config CLOCK_CONTROL_HPMICRO
	bool "HPMICRO clock control driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_PLL_ENABLED
    select HAS_HPMSDK_PLLCTL
    help
        Enable the HPMICRO PLL driver

config CLOCK_CONTROL_HPMICRO_V2
	bool "HPMICRO clock control v2 driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_PLLV2_ENABLED
    select HAS_HPMSDK_PLLCTLV2
    help
        Enable the HPMICRO PLLV2 driver
