# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

if SOC_HPM5301

config SOC
	string
	default "hpm5301"

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 5301 MAIN FREQUENCY(ABOVE 375M)"
	default 48000000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 2048

endif # SOC_HPM5301

if SOC_HPM5361

config SOC
	string
	default "hpm5361"

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 5361 MAIN FREQUENCY(ABOVE 375M)"
	default 480000000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 2048

endif # SOC_HPM5361
