# Copyright (c) 2023-2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

if SOC_HPM6320
config SOC
	string
	default "hpm6320"

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 6320 MAIN FREQUENCY(ABOVE 375M)"
	default 576000000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 2048

endif # HPM6320

if SOC_HPM6340
config SOC
	string
	default "hpm6340"

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 6340 MAIN FREQUENCY(ABOVE 375M)"
	default 576000000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 2048

endif # HPM6340

if SOC_HPM6360
config SOC
	string
	default "hpm6360"

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 6360 MAIN FREQUENCY(ABOVE 375M)"
	default 576000000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 2048

endif # HPM6360
