/*
 * Copyright 2024 HPMicro
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        green-led = &led_g;
		red-led = &led_r;
    };
    chosen {
        zephyr,canbus = &mcan3;
    };
};
&mcan3 {
    status = "okay";
    pinctrl-0 = <&pinmux_mcan3>;
    pinctrl-names = "default";
        can-transceiver {
        max-bitrate = <5000000>;
    };
};
&pinctrl {
    pinmux_mcan3: pinmux_mcan3 {
        group0 {
            pinmux = <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTD, 15), IOC_TYPE_IOC, 0, 7)>,
                     <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTD, 14), IOC_TYPE_IOC, 0, 7)>;
        };
    };
};

