# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0
config SOC_SERIES_HPM6800
	bool
	select SOC_FAMILY_HPM
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PCFG
	help
	  Enable support for HPMicro HPM68 series SoC

config SOC_SERIES
	default "HPM6800" if SOC_SERIES_HPM6800

config SOC_HPM6830
	bool
	select SOC_SERIES_HPM6800

config SOC_HPM6850
	bool
	select SOC_SERIES_HPM6800

config SOC_HPM6880
	bool
	select SOC_SERIES_HPM6800

config SOC
	default "HPM6830" if SOC_HPM6830
	default "HPM6850" if SOC_HPM6850
	default "HPM6880" if SOC_HPM6880