# Copyright (c) 2025 HPMicro
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_HPM_CHERYUSB_DEVICE := hpmicro,hpm-cherryusb-device

config CHERRYUSB_DEVICE_HPMICRO
	bool "HPMicro CherryUSB device controller driver"
	default y
	depends on DT_HAS_HPMICRO_HPM_CHERRYUSB_DEVICE_ENABLED
	select HAS_HPMSDK_USB
	help
	  Enable support for hpmicro cherryusb device driver.