# Copyright (c) 2023-2024 HPMicro
# SPDX-License-Identifier: BSD-3-Clause

menu "Device Drivers"

rsource "clock_control/Kconfig.hpmicro"
rsource "display/Kconfig.hpmicro"
rsource "serial/Kconfig.hpmicro"
rsource "pinctrl/Kconfig.hpmicro"
rsource "dma/Kconfig.hpmicro"
rsource "gpio/Kconfig.hpmicro"
rsource "can/Kconfig.hpmicro"
rsource "spi/Kconfig.hpmicro"
rsource "pwm/Kconfig.hpmicro"
rsource "adc/Kconfig.hpmicro"

endmenu
