CONFIG_SOC_HPM6880=y
CONFIG_SOC_SERIES_HPM68XX=y
CONFIG_BOARD_HPM6800EVK=y
CONFIG_XIP=y
CONFIG_PLIC=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_PINCTRL=y
CONFIG_CLOCK_CONTROL=y
CONFIG_GPIO=y
CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_NDEBUG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_DMA=y
