# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0
config SOC_SERIES_HPM68XX
	bool "HPMicro HPM68 Series"
	select SOC_FAMILY_HPM
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG
	help
	  Enable support for HPMicro HPM68 series SoC

config SOC_SERIES
	default "hpm68xx" if SOC_SERIES_HPM68XX

config SOC_HPM6830
	bool
	select SOC_SERIES_HPM68XX

config SOC_HPM6850
	bool
	select SOC_SERIES_HPM68XX

config SOC_HPM6880
	bool
	select SOC_SERIES_HPM68XX

config SOC
	default "hpm6830" if SOC_HPM6830
	default "hpm6850" if SOC_HPM6850
	default "hpm6880" if SOC_HPM6880