# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

if SOC_HPM6880

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_FREQUENCY
	int "SOC 6880 MAIN FREQUENCY(ABOVE 384M)"
	default $(dt_node_int_prop_int,$(dt_nodelabel_path,clk),clock-frequency)

config ISR_STACK_SIZE
	default 2048

config MAIN_STACK_SIZE
	default 8192

config IDLE_STACK_SIZE
	default 2048

# config PRIVILEGED_STACK_SIZE
# 	default 2048

config TEST_EXTRA_STACK_SIZE
	default 8192

endif # SOC_HPM6880
