# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "HPMicro HPM68xx Selection"
	depends on SOC_SERIES_HPM68XX

config SOC_HPM6830
	bool "SOC_HPM6830"
	select ATOMIC_OPERATIONS_BUILTIN
	select ARCH_HAS_NOCACHE_MEMORY_SUPPORT
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
    select RISCV_ISA_EXT_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG

config SOC_HPM6850
	bool "SOC_HPM6850"
	select ATOMIC_OPERATIONS_BUILTIN
	select ARCH_HAS_NOCACHE_MEMORY_SUPPORT
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
    select RISCV_ISA_EXT_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG

config SOC_HPM6880
	bool "SOC_HPM6880"
	select ATOMIC_OPERATIONS_BUILTIN
	select ARCH_HAS_NOCACHE_MEMORY_SUPPORT
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
    select RISCV_ISA_EXT_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select HAS_HPMSDK_PLLCTLV2
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG

endchoice