# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

if SOC_HPM6830

config SYS_CLOCK_TICKS_PER_SEC
	default 1000

config MAIN_STACK_SIZE
	default 4096

config IDLE_STACK_SIZE
	default 2048

config PRIVILEGED_STACK_SIZE
	default 2048

config TEST_EXTRA_STACK_SIZE
	default 8192

endif # SOC_HPM6830
