# Copyright (c) 2023 HPMicro
# SPDX-License-Identifier: Apache-2.0


choice
	prompt "HPMicro HPM5xxx Selection"
	depends on SOC_SERIES_HPM5XXX

config SOC_HPM5361
	bool "SOC_HPM5361"
	select ATOMIC_OPERATIONS_BUILTIN
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_A
    select RISCV_ISA_EXT_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select HAS_HPMSDK_PDM
	select HAS_HPMSDK_PLLCTL
	select HAS_HPMSDK_PMP
	select HAS_HPMSDK_PCFG	
	select HAS_HPMICRO_ADC12
	select HAS_HPMICRO_ADC16
    select HAS_HPMICRO_CAN

endchoice

if SOC_SERIES_HPM5XXX

config HAS_HPMICRO_CAN
    bool "mcu support castcan"

config HAS_HPMICRO_ADC12
	bool "mcu support adc12"

config HAS_HPMICRO_ADC16
	bool "mcu support adc12"

endif # SOC_SERIES_HPM5XXX