/*
 * Copyright 2024 HPMicro
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <hpmicro/hpm6750.dtsi>
#include "hpm6750evk2-pinctrl.dtsi"

/ {
	model = "HPMicro HPM6750EVK2";
	compatible = "HPMicro,hpm6750evk2";

	aliases {
		led0 = &led_r;
		led1 = &led_g;
		led2 = &led_b;
		sw0 = &pbutn;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &dram;
		zephyr,flash = &flash0;
		zephyr,itcm = &ilm;
		zephyr,dtcm = &dlm;
		zephyr,code-partition = &slot0_partition;
	};

	dram: memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 DT_SIZE_M(32)>;
	};

	leds {
		compatible = "gpio-leds";
		led_r: led_r {
			gpios = <&gpiob 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDR";
		};
		led_g: led_g {
			gpios = <&gpiob 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDG";
		};
		led_b: led_b {
			gpios = <&gpiob 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDB";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		pbutn: pbutn {
			gpios = <&gpioz 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		wbutn: wbutn {
			gpios = <&gpioz 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_uart0>;
	pinctrl-names = "default";
	uart-idle-trgm-reg = <0xF022C000>;
	uart-idle-trgm-pin = <115>;
	uart-idle-trgm-input-src = <0x0B>;
	uart-idle-trgm-output-gptmr-in = <0x38>;
	uart-idle-trgm-output-gptmr-sync = <0x37>;
	uart-idle-gptmr-reg = <0xF3010000>;
	uart-idle-gptmr-clock-name = <18743311>;
	dmas = <&hdma 0 8>, <&hdma 1 9>;
	dma-names = "rx", "tx";
};

&uart13 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_uart13>;
	pinctrl-names = "default";
	uart-idle-trgm-reg = <0xF022C000>;
	uart-idle-trgm-pin = <115>;
	uart-idle-trgm-input-src = <0x0B>;
	uart-idle-trgm-output-gptmr-in = <0x3b>;
	uart-idle-trgm-output-gptmr-sync = <0x3a>;
	uart-idle-gptmr-reg = <0xF3014000>;
	uart-idle-gptmr-clock-name = <18808848>;
	dmas = <&hdma 2 0x22>, <&hdma 3 0x23>;
	dma-names = "rx", "tx";
};

&gpiob {
	pinctrl-0 = <&pinmux_gpiob>;
	pinctrl-names = "default";
	status = "okay";
};

&gpioe {
	pinctrl-0 = <&pinmux_gpioe>;
	pinctrl-names = "default";
	status = "okay";
};

&gpioz {
	pinctrl-0 = <&pinmux_gpioz>;
	pinctrl-names = "default";
	status = "okay";	
};

&hdma {
	status = "okay";
};

&xdma {
	status = "okay";
};

&xpi0 {
	status = "okay";
	flash0: flash@0 {
		compatible = "soc-nv-flash";
		reg = <0x80000000 DT_SIZE_M(16)>;
		status = "okay";
		erase-block-size = <4096>;
		write-block-size = <1>;
		
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_partition: partition@0 {
				label = "mcuboot";
				reg = <0x0 0x3000>;
			};

			slot0_partition: partition@3000 {
				label = "image-0";
				reg = <0x3000 DT_SIZE_M(4)>;
			};
		};
	};
};
