/*
 * Copyright 2024 HPMicro
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <hpmicro/hpm6750.dtsi>
#include "hpm6750evk2-pinctrl.dtsi"
#include <zephyr/dt-bindings/display/panel.h>

/ {
	model = "HPMicro HPM6750EVK2";
	compatible = "HPMicro,hpm6750evk2";

	aliases {
		led0 = &led_r;
		led1 = &led_g;
		led2 = &led_b;
		sw0 = &pbutn;
		eeprom-0 = &eeprom;
	};

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &dram;
		zephyr,flash = &flash0;
		zephyr,itcm = &ilm;
		zephyr,dtcm = &dlm;
		zephyr,code-partition = &slot0_partition;
	};

	dram: memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 DT_SIZE_M(32)>;
	};

	leds {
		compatible = "gpio-leds";
		led_r: led_r {
			gpios = <&gpiob 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDR";
		};
		led_g: led_g {
			gpios = <&gpiob 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDG";
		};
		led_b: led_b {
			gpios = <&gpiob 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "LEDB";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		pbutn: pbutn {
			gpios = <&gpioz 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		wbutn: wbutn {
			gpios = <&gpioz 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	panels {
		panel_tm070rdh13: panel_tm070rdh13 {
			compatible = "hpmicro,hpm-display-rgb";
			panel_name = "tm070rdh13";
			width = <800>;
			height = <480>;
			pixel_clock_khz = <60000>;
			hactive = <800>;
			hfront_porch = <50>;
			hback_porch = <36>;
			hsync_len = <10>;
			hsync_pol = <1>;

			vactive = <480>;
			vfront_porch = <10>;
			vback_porch = <20>;
			vsync_len = <3>;
			vsync_pol = <1>;
		};
	};

	video {
		video0: video0 {
			compatible = "hpmicro,hpm-video";
			status = "disabled";
		};

		video1: video1 {
			compatible = "hpmicro,hpm-video";
			status = "disabled";
		};
	};

};

&rgb0 {
	endpoint_in = <&lcdc0>;
};

&panel_tm070rdh13 {
	endpoint_in = <&rgb0>;
	pinctrl-0 = <&pinmux_rgb>;
	pinctrl-names = "default";
	backlight-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpiob 16 GPIO_ACTIVE_LOW>;
	cfg-gpios = <&gpioz 0 GPIO_ACTIVE_HIGH>;
	reset-time-active = <10>;
	pixel-format = <PANEL_PIXEL_FORMAT_ARGB_8888>;
	status = "disabled";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_uart0>;
	pinctrl-names = "default";
	uart-idle-trgm-reg = <0xF022C000>;
	uart-idle-trgm-pin = <115>;
	uart-idle-trgm-input-src = <0x0B>;
	uart-idle-trgm-output-gptmr-in = <0x38>;
	uart-idle-trgm-output-gptmr-sync = <0x37>;
	uart-idle-gptmr-reg = <0xF3010000>;
	uart-idle-gptmr-clock-name = <18743311>;
	dmas = <&hdma 0 8>, <&hdma 1 9>;
	dma-names = "rx", "tx";
};

&uart13 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_uart13>;
	pinctrl-names = "default";
	uart-idle-trgm-reg = <0xF022C000>;
	uart-idle-trgm-pin = <115>;
	uart-idle-trgm-input-src = <0x0B>;
	uart-idle-trgm-output-gptmr-in = <0x3b>;
	uart-idle-trgm-output-gptmr-sync = <0x3a>;
	uart-idle-gptmr-reg = <0xF3014000>;
	uart-idle-gptmr-clock-name = <18808848>;
	dmas = <&hdma 2 0x22>, <&hdma 3 0x23>;
	dma-names = "rx", "tx";
};

&gpiob {
	pinctrl-0 = <&pinmux_gpiob>;
	pinctrl-names = "default";
	status = "okay";
};

&gpioe {
	pinctrl-0 = <&pinmux_gpioe>;
	pinctrl-names = "default";
	status = "okay";
};

&gpioz {
	pinctrl-0 = <&pinmux_gpioz>;
	pinctrl-names = "default";
	status = "okay";	
};

&gpioy {
	pinctrl-0 = <&pinmux_gpioy>;
	pinctrl-names = "default";
	status = "okay";	
};

&i2c0 {
	status = "disabled";
	pinctrl-0 = <&pinmux_i2c0>;
	pinctrl-names = "default";

	ov7725: ov7725@21 {
		compatible = "ovti,ov7725";
		reg = <0x21>;
		status = "disabled";

		reset-gpios = <&gpioa 22 GPIO_ACTIVE_HIGH>;
	};

	touch_rgb: gt911@5d {
        compatible = "goodix,gt911";
		reg = <0x5d>;
		irq-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
	};

	eeprom: eeprom@50 {
		compatible = "atmel,at24";
		status = "disabled";
		reg = <0x50>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};
};
&spi2 {
	status = "disabled";
	pinctrl-0 = <&pinmux_spi2>;
	pinctrl-names = "default";
	cs-gpios = <&gpioe 31 GPIO_ACTIVE_LOW>;
	/* HDMA channels 0 and 1, muxed to SPI2 RX and TX */
	dmas = <&hdma 0 4>, <&hdma 1 5>;
	dma-names = "rx", "tx";
};
&hdma {
	status = "okay";
};

&xdma {
	status = "okay";
};

&xpi0 {
	status = "okay";
	flash0: flash@0 {
		compatible = "soc-nv-flash";
		reg = <0x80000000 DT_SIZE_M(16)>;
		status = "okay";
		erase-block-size = <4096>;
		write-block-size = <1>;
		
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_partition: partition@0 {
				label = "mcuboot";
				reg = <0x0 0x3000>;
			};

			slot0_partition: partition@3000 {
				label = "image-0";
				reg = <0x3000 DT_SIZE_M(4)>;
			};
		};
	};
};

&camera0 {
	status = "disabled";
	interface = "dvp";
	pinctrl-0 = <&pinmux_dvp0>;
	pinctrl-names = "default";
	pixclk_sampling_falling = <1>;
	hsync_active_low = <1>;
	vsync_active_low = <1>;
};

&video0 {
	status = "disabled";
	video_count = <1>;
	sensor = <&ov7725>;
	camera = <&camera0>;
};

