# Copyright (c) 2024 HPMicro
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_HPM53XX
	bool "HPMicro HPM53 Series"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGED
	select SOC_FAMILY_HPM
	select ZEPHYR_HPM_SDK_MODULE
	help
	  Enable support for HPMicro HPM53 series SoC